body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    text-align: center;
    padding: 30px;
}

h1 {
    color: #d90429;
}

button {
    padding: 12px 20px;
    background-color: #d90429;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #b00322;
}

#hospitalList {
    margin-top: 25px;
    text-align: left;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}
#map {
    height: 400px;
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
}
.sos-btn {
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 12px 18px;
    border: none;
    border-radius: 8px;
}

.sos-btn:hover {
    background-color: darkred;
}

@keyframes moveDash {
    from {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 20;
    }
}
.animated-route {
    animation: moveDash 1s linear infinite;
}




